/ standard_dashboard_data: standard_dashboard_data, selectedCityData: selectedCityData

h1 selected city

p = selectedCityData["main"]["temp"]
p = selectedCityData["main"]["feels_like"]
p = selectedCityData["main"]["humidity"]
p = selectedCityData["weather"][0]["description"]

form.featured-selection method="post" action="/featured-selected-city"
    - standard_dashboard_data.each do |data|
        button.item type="submit" value="#{data["name"]}" name="selected" #{data["name"]}

a href='/logout' Logout